<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" />
    @System.Web.Optimization.Styles.Render("~/Content/themes/base/css")
</head>
<body>
    <header>
        <div style="overflow: hidden;">
            <a id="koszykHeaderLink" href="link">
                Koszyk (<span id="koszyk-naglowek-ilosc-elementow">@Html.Action("PobierzIloscElementowKoszyka","Koszyk")</span>)
                <span></span>
            </a>
            <a id="indexHeaderLogo" href="@Url.Content("~/")">
                <img src="@Url.Content("~/Content/Images/logo.png")" class="center" />
            </a>
        </div>
    </header>
    <div>
        @RenderBody() @*tutaj generuja się widoki tzw. to co ma byc do header i footer*@
    </div>

    <footer>
        <nav>
            <ul>
                <li>@Html.ActionLink("O nas", "StronyStatyczne", "Home", new { nazwa = "Onas" }, null)</li>
                <li>@Html.ActionLink("Społeczność", "StronyStatyczne", "Home", new { nazwa = "Spolecznosc" }, null)</li>
                <li>@Html.ActionLink("Opinie", "StronyStatyczne", "Home", new { nazwa = "Opinie" }, null)</li>
                <li>@Html.ActionLink("Pomoc", "StronyStatyczne", "Home", new { nazwa = "Pomoc" }, null)</li>
                <li>@Html.ActionLink("Regulamin", "StronyStatyczne", "Home", new { nazwa = "Regulamin" }, null)</li>
                <li>@Html.ActionLink("Kontakt", "StronyStatyczne", "Home", new { nazwa = "Kontakt" }, null)</li>
            </ul>
        </nav>
        <div id="footerLogo">
        </div>
        <div id="footerCopyright">
            Copyright &copy; 2017 Jan Kaczor
        </div>
    </footer>
    @RenderSection("Skrypty",required : false) @*opcjonalna sekcja w tym miejscu mozemy dodawać skrypty do widoków*@

</body>
</html>